# IDEs
.idea/

# Hugo
resources/
public/
.DS_Store
content/publication/.DS_Store
content/.DS_Store
*.DS_Store
.DS_Store
content/.DS_Store
content/home/.DS_Store
content/publication/.DS_Store
static/.DS_Store
static/files/.DS_Store
*DS_Store
